

<div class="edit_title">
  <h1>Create New Genre</h1>
</div>

<%= render 'shared/error_messages', target: @genre %>
<div class="container">
  <%= form_for @genre, html: {class: "form-horizontal"} do |f| %>
    <div class = "form-group">
      <%= f.label :name, class: "col-sm-2 control-label" %>
      <div class = "col-sm-3">
        <%= f.text_field :name, class: "form-control", required: true %>
      </div>
    </div>
    <div class = "form-group">
      <%= f.label :description, class: "col-sm-2 control-label" %>
      <div class = "col-sm-5">
        <%= f.text_area :description, class: "form-control", rows: 5 %>
      </div>
    </div>
    <div class = "col-sm-offset-2 col-sm-8">
      <%= f.submit :class=>'button' %>
    </div>
  <% end %>
</div>