<<<<<<< HEAD
<center>
<form action='/artists/<%= @artist_to_edit.id %>' method='post'>
  <input type='hidden' name='_method' value='put'/>
  <input type='text' placeholder='stage name' name='moniker' value='<%= @artist_to_edit.moniker %>'/>
  <input type='text' placeholder='birth name' name='birth_name' value='<%= @artist_to_edit.birth_name %>'/>
  <input type='text' placeholder='description' name='description' value='<%= @artist_to_edit.description %>'/>
  <input type='text' placeholder='age' name='age' value='<%= @artist_to_edit.age %>'/>
  <input type='text' placeholder='record label' name='record_label' value='<%= @artist_to_edit.record_label.name %>'/>
  <input type='submit' value='Edit!'>
</form>

<p><a href='/record_labels/new'>Create new record label
</a></p>
</center>

=======

<header>
	<div class="banner">
	</div>
	<a href="/"><img id="logo2" src="/irad_logo.png" style="width:3.2em;height:1.0em"></a>
	<ul>
		<li class="main_ul"><a href='/about'>About</a></li>
		<li><a href='/artists'>Artists</a></li>
		<li class="main_ul"><a href='/genres'>Genres</a></li>
		<li class="main_ul"><a href='/record_labels'>Record Labels</a></li>
	</ul>
	
</header>

<div id="edit_title">
	<h1>Edit Artist</h1>
	
</div>

<section id="form">
	<form action='/artists/<%= @artist_to_edit.id %>' method='post'>
			<input type='hidden' name='_method' value='put'/>
		<h3>Stage Name</h3>
			<input class="edit_option"  type='text' placeholder='stage name' name='moniker' value='<%= @artist_to_edit.moniker %>'/>
		<h3>Birth Name</h3>
			<input class="edit_option" type='text' placeholder='birth name' name='birth_name' value='<%= @artist_to_edit.birth_name %>'/>
		<h3>Description</h3>
			<input class="edit_option" type='text' placeholder='description' name='description' value='<%= @artist_to_edit.description %>'/>
		<h3>Age</h3>
			<input class="edit_option" type='text' placeholder='age' name='age' value='<%= @artist_to_edit.age %>'/>
		<h3>Record Label</h3>
			<input class="edit_option" type='text' placeholder='record label' name='record_label' value='<%= @artist_to_edit.record_label.name %>'/>
			<input class = "button" id="create" type='submit' value='Edit'>
	</form>
</section>

<p><a  class = "edit_genre" id="new_artist" href="/artist_genres/<%= @artist_to_edit.id %>/edit">Edit Artist's Genres</a></p>
>>>>>>> final
