
<header>
	<div class="banner">
	</div>
	<a href="/"><img id="logo2" src="/irad_logo.png" style="width:3.2em;height:1.0em"></a>
	<ul>
		<li>About</li>
		<li><a href='/artists'>Artists</a></li>
		<li>Genres</li>
		<li>Record Labels</li>
	</ul>

</header>
<section id="form">
	<form action='/artists/<%= @artist_to_edit.id %>' method='post'>
			<input type='hidden' name='_method' value='put'/>
			<% @artist_to_edit.attributes.each do | header, attribute | %>
				<% unless (header.include?("id")) || (header.include?("at")) %>
					<h3><%= header.capitalize %></h3>
					<input type='text' placeholder='<%= header %>' name='<%= header %>' value='<%= attribute %>'/>
				<% end %>
			<% end %>
			<h3>Record Label</h3>
			<% if @artist_to_edit.record_label_id == nil %>
				<input type='text' placeholder='add record label' name='record_label' />
			<% else %>
				<input type='text' placeholder='add record label' name='record_label' value='<%= @artist_to_edit.record_label.name %> '/>
			<% end %>

<input id="create" type='submit' value='Edit!'>
</form>

<p><a href="/artist_genres/<%= @artist_to_edit.id %>/edit">Edit Artist's Genres</a></p>

</section>

