Artist detail page for <%= @the_artist.moniker%>

<p><%= @the_artist.age %></p>
<p><%= @the_artist.description %></p>

<p><a href='/artists/<%=@the_artist.id%>/edit'>Edit artist </a></p>
<form action='/artists/<%=@the_artist.id%>/delete' method='post'>
  <input type='hidden' name='_method' value='delete'/>
  <input type='Submit' value='Delete!'/>


<p><a href='/artists'>Go back to artists list</a></p>
