<header>
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="banner container-fluid">
			<div class="navbar-header">
				<a class='navbar-brand'><%= link_to image_tag("irad_logo.png", :id=>'logo'), controller: 'welcome' %></a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="header_ul nav navbar-nav navbar-right">
					<% if session[:user_id] %>
						<li class='main_li top_header login'> <i class="fa fa-user login-icon-name"></i>  <%= link_to current_user.username, user_path(current_user), :class=> 'top_link'  %></li>
						<li class='main_li top_header'><%= link_to 'Logout', logout_users_path, :class=> 'top_link' %></a></li>
					<% else %>
						<li class='main_li top_header login'> <i class="fa fa-user login-icon"></i> <%= link_to 'Log In', login_users_path, :class=> 'top_link' %></li>
					<%end%>
					<li><%= link_to "About", welcome_about_path, class: "main_ul" %></li>
					<li class="main_ul"><a href='/artists'>Artists</a></li>
					<li class="main_ul"><a href='/genres'>Genres</a></li>
					<li class="main_ul"><a href='/recordlabels'>Record Labels</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>



<body id="artist_body">



	<div class="artist_top">
		<h1 class="title"><%= @artist.stage_name %></h1>


		<div id="artist_img">
			<% if @artist.avatar.url == "/images/original/missing.png" %>
				<%= image_tag "blank_avatar.png", id:"profile", alt: "artist avatar", style: "width:20em;height:22em" %>
			<% else %>
				<%= image_tag @artist.avatar.url(:medium) , id: "profile", alt: "artist_avatar", style: "max-height:24em" %>
			<%end %>
		</div>
	</div>

	<div class="bio">
		<ul id="bio_list">
			<li class="bio_item"><em>Birth Name: </em> <%= @artist.birth_name %></li>
			<li class="bio_item"><em>Birthday: </em>  <%= @artist.display_birth_info %></li>
			<li class="bio_item"><em>Genres: </em>
			<% @artist.genres.each do |genre| %>
			  <%= link_to genre.name, genre_path(genre) %>
			<% end %></li>
			<li class="bio_item"><em>Description: </em> <%= @artist.description %></li>
		</ul>
	<p>	<%= link_to 'Edit Artist', edit_artist_path, :class => 'new_artist_link', :id=>'edit_artist' %></p>
	</div>


<%= render 'albums_list' %>

</body>