<body id="logo_body">

<header >
	<nav id="main_header" class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="main_banner container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul  class="header_ul nav navbar-nav navbar-right">
					<% if session[:user_id] %>
						<li class='top_header'> <%= link_to current_user.username, user_path(current_user), :class=> 'top_link'  %></li>
						<li class='top_header'><%= link_to 'Logout', logout_users_path, :class=> 'top_link' %></a></li>
					<% else %>
						<li class='top_header'> <%=link_to 'Sign Up', new_user_path, :class=> 'top_link'%></li>
						<li class='top_header'> <%= link_to 'Login', login_users_path, :class=> 'top_link' %></li>
					<%end%>
					<li><%= link_to "About", welcome_about_path, class: "main_ul" %></li>
					<li class="main_ul"><a href='/artists'>Artists</a></li>
					<li class="main_ul"><a href='/genres'>Genres</a></li>
					<li class="main_ul"><a href='/recordlabels'>Record Labels</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>


<div id="irad3">
	<div class="row">
		<!-- <h1 id="irad1">i</h1> -->
		<h1 id="irad2"><span id="irad1">i</span><span id="rad">RAD</span></h1>
	</div>
	<div class="search-">
	  <%= form_tag '/search/search', method: :get do %>
	    <%= text_field_tag :q, '', placeholder:'Search term here', :class => 'search' %>
	    <%= submit_tag 'Search', class: 'search-button' %>
	  <% end %>
	</div>
</div>

</body>
