<div class = "container">
  <%= form_for @record_label, html: {class: "form-horizontal"} do |f| %>
    <%= render 'shared/error_messages', target: @record_label %>
    <div class = "form-group">
      <%= f.label 'name', class: "col-sm-2 control-label"%>
      <div class = "col-sm-3">
        <%= f.text_field :name, class: "form-control", required: true %>
      </div>
    </div>
    <%= f.label 'founding date', class: "col-sm-2 control-label" %>
    <div class = "form-group">
      <%= f.select :founding_date, (Time.zone.now.year - 60)..(Time.zone.now.year) %>
    </div>
    <div class = "form-group">
      <div class = "col-sm-offset-2 col-sm-8">
        <%= f.submit %>
      </div>
    </div>
  <% end %>
</div>