<<<<<<< HEAD
<center>

<h1> Record Label Edit Form </h1>
<form action='/record_labels/<%=@label_to_edit.id%>' method='post'>
  <input type='hidden' name='_method' value='put'/>
  <input type='text' name='name' placeholder='name' value=<%=@label_to_edit.name%> />
  <input type='text' placeholder ='founding date' name='founding_date' value=<%=@label_to_edit.founding_date%> >
  <input type='submit' value='Edit it!'>
</form>
<p><a href='/record_labels/<%=@label_to_edit.id%>'>Go back to record details</a></p>
</center>
=======
<header>
	<div class="banner">
	</div>
	<a href="/"><img id="logo2" src="/irad_logo.png" style="width:3.2em;height:1.0em"></a>
	<ul>
		<li class="main_ul"><a href='/about'>About</a></li>
		<li><a href='/artists'>Artists</a></li>
		<li class="main_ul"><a href='/genres'>Genres</a></li>
<li class="main_ul"><a href='/record_labels'>Record Labels</a></li>
	</ul>
	
</header>

<div id="edit_title">
  <h1>Record Label Edit</h1>
  
</div>

<section id="form">

<form action='/record_labels/<%=@label_to_edit.id%>' method='post'>
  <input class="edit_option" type='hidden' name='_method' value='put'/>
  <input class="edit_option" type='text' name='name' placeholder='name' value=<%=@label_to_edit.name%> />
  <input class="edit_option" type='text' placeholder ='founding date' name='founding_date' value=<%=@label_to_edit.founding_date%> >
  <input class="button" type='submit' value='Edit Label'>
</form>
<p><a id="new_artist" href='/record_labels/<%=@label_to_edit.id%>'>Record Details</a></p>
</section id="form">
>>>>>>> final
