<body id = "artist_body">

  <div class = "title">
    <h1><%= @record_label.name %></h1>
  </div>

  <p>founding date: <%= @record_label.founding_date %></p>
  <h3>Artists on <%= @record_label.name %></h3>
  <% @record_label.artists.each do |artist| %>
    <li> <%= link_to artist.stage_name, artist_path(artist) %> </li>
  <% end %>
  <%= link_to 'edit record label', edit_record_label_path %>
  <%= link_to 'back to all labels', record_labels_path %>

</body>