<div id="artist_img">
    <% if @album.avatar.url == "/images/original/missing.png" %>
      <%= image_tag "blank_avatar.png", id:"profile", alt: "artist avatar", style: "width:20em;height:22em" %>
    <% else %>
      <%= image_tag @album.avatar.url(:medium) , id: "profile", alt: "artist_avatar", style: "width:20em;height:22em" %>
    <%end %>
  </div>
<h1><%= @album.title %></h1>
<%= @album.release_year %>
<%= @album.description %>
<h3>songs</h3>
<% @album.songs.each do |song| %>
  <p><%= link_to song.title, artist_album_song_path(song.artist, song.album, song) %></p>
<% end %>
<%= link_to 'edit album', edit_artist_album_path(@album.artist, @album) %>
<%= link_to 'back to artist', artist_path(@album.artist) %>